{% extends 'base.html' %} {% block content %}
<h6>Showing Flights for {{pilot.name}}</h6>
<table class="table">
  <thead>
  <tr>
    <th scope="col">Date</th>
    <th scope="col">FlightType</th>
    <th scope="col">TakeoffTime</th>
    <th scope="col">Duration</th>
    <th scope="col">landings</th>
    <th scope="col">SFO</th>
    <th scope="col">missionAccomplished</th>
  </tr>
</thead>
<tbody>
{% for flight in flights %}
  <tr scope="row">
    <td>{{ flight.date }}</td>
    <td>{{ flight.flightType }}</td>
    <td>{{ flight.takeoff }}</td>
    <td>{{ flight.duration }}</td>
    <td>{{ flight.landings }}</td>
    <td>{{ flight.SFO }}</td>
    <td>{{ flight.missionAccomplished }}</td>
    </td>
    <td>
      <a class="btn btn-primary" href="/flight/{{pilot.id}}/{{flight.id}}">Edit Flight</a>
    </td>
  </tr>
{% endfor %}
</tbody>
</table>

{% endblock %}